/* main { */
/* background: rgb(0,0,0); */
/* /* background: radial-gradient(circle, rgba(0,0,0,0.8425428206997084) 16%, rgba(0,0,0,1) 94%, rgba(65,211,47,1) 100%); */ */
/* } */

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 0.4rem 2rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  border: 2.0px solid #f8f8f8;
  background-color: rgba(33, 234, 40, 0.828);
  color: #f8f8f8;
}

button:hover {
  background-color: rgb(7, 212, 7);
}