.container {
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 0.4rem 1rem;
  margin: 0 0.3rem;
  border-radius: 10px;
  border: 1px solid #f8f8f8;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f8f8f8;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
